<!-- 
<div  class="main-section" style="margin-bottom: 250px;">
    <img src="../../../assets/images/brain.png" alt="">
    <div class="d-flex mx-5 my-5">
        <a class="px-5" routerLink="auth/login">ورود</a>
        <a class="px-5"  routerLink="auth/register">ثبت نام</a>
    </div>

</div> -->

<div class="main-section">
    <div class="row">
        <div class="col-12 text-center">
            <div class="row">
                <div class="col-12 py-2">
                    <button class="btn btn-warning text-white px-5 lg_font" routerLink="auth/login">ورود</button>
                </div>
                <div class="col-12 py-2">
                    <button class="btn btn-warning text-white px-5 lg_font" routerLink="auth/register">ثبت نام</button>
                </div>
            </div>
        </div>

    </div>
   
</div>

