<div class="light-card" [ngClass]="{beforeLoad: !userInfo}">
  <app-loading [content]="userInfo"></app-loading>

  <div *ngIf="userInfo" class="col-12 security text-right py-3 px-3 py-lg-3 px-lg-5">
    <h3 class="title">امنیت</h3>

    <div class="input-wrapper">
        <input type="text" id="username" disabled
          class="form-control text-input text-left placeholder-right"
          placeholder="نام کاربری" value="{{userInfo.username}}">

        <label for="username" class="inline-label">نام کاربری</label>
    </div>

    <div class="input-wrapper">
        <input type="text" id="email" disabled
          class="form-control text-input text-left placeholder-right"
          placeholder="ایمیل" value="{{userInfo.email}}" >
        <label for="email" class="inline-label">ایمیل</label>
    </div>

    <div class="input-wrapper">
        <input [ngClass]="{invalid: errorMessages.password}"  type="password" id="password"
          class="form-control text-input text-left placeholder-right"
          placeholder="رمز عبور" #currentPassword>
        <label for="password" class="inline-label">رمز عبور</label>
        <p *ngIf="errorMessages.password" class="security-form__warning-dialog">
        {{errorMessages.password}}
        </p>
    </div>

    <div class="input-wrapper">
        <input [ngClass]="{invalid: errorMessages.new_password}" type="password" id="newPassword"
          class="form-control text-input text-left placeholder-right" #newPassword>
        <label for="newPassword" class="inline-label">رمز عبور جدید</label>
        <p *ngIf="errorMessages.new_password" class="security-form__warning-dialog">
          {{errorMessages.new_password}}
        </p>
    </div>

    <div class="input-wrapper">
        <input [ngClass]="{invalid: errorMessages.retry_new_password}" type="password" id="newPasswordRepeat"
          class="form-control text-input text-left placeholder-right" #againPassword>
        <label for="newPasswordRepeat" class="inline-label">تکرار رمز عبور جدید</label>
        <p *ngIf="errorMessages.retry_new_password" class="security-form__warning-dialog">
          {{errorMessages.retry_new_password}}
        </p>
    </div>

    <div class="form-group text-center col-12">
        <button class="btn save-button py-3 px-5 position-relative" (click)="changePassword()" [disabled]="disabledState">ذخیره
          <app-btn-loading [content]="!disabledState"></app-btn-loading>
        </button>
    </div>
</div>

</div>