<header class="header">
    <div class="container d-flex justify-content-md-between justify-content-start align-items-center">
        <a href="#">
            <img src="../../../assets/images/samen-logo.png" class="main-header__school-logo" alt="samen noor school logo">
        </a>
        
        <nav class="main-menu align-self-stretch d-none d-lg-block">
            <ul class="nav d-flex align-items-center justify-content-end">
                <li class="nav-item main-menu__item">
                    <a href="#" class="nav-link main-menu__link" routerLink = "/">خانه</a>
                </li>

                <li class="nav-item main-menu__item">
                    <button class="btn main-menu__signin-btn" routerLink = "/auth/login">ورود</button>
                </li>
            </ul>
        </nav>

        <div class="main-menu d-lg-none">
            <a >
                <img src="../../../assets/images/svg-icons/sidebar.svg" 
                  style="filter: invert(82%) sepia(70%) saturate(2107%) hue-rotate(157deg) brightness(100%) contrast(86%);"
                  alt="sidebar toggle icon">
            </a>
        </div>
    </div>
</header>