<header (window:resize)="onResize($event)" class="header">
  <div class="container d-flex justify-content-md-between justify-content-start align-items-center">
    <a href="#">
      <img src="../../../assets/images/samen-logo.png" class="main-header__school-logo" alt="samen noor school logo">
    </a>

    <nav *ngIf="!loggedIn" class="main-menu align-self-stretch d-none d-lg-block">
      <ul class="nav d-flex align-items-center justify-content-end">
        <li class="nav-item main-menu__item">
          <a href="#" class="nav-link main-menu__link" routerLink="/">خانه</a>
        </li>

        <li class="nav-item main-menu__item">
          <button class="btn main-menu__signin-btn" routerLink="/auth/login">ورود</button>
        </li>
      </ul>
    </nav>

    <nav *ngIf="loggedIn" class="main-menu align-self-stretch d-none d-lg-block">
      <ul class="nav d-flex align-items-center justify-content-end">

        <li class="nav-item main-menu__item">
          <a routerLink="/business-partner" class="nav-link main-menu__link" placement="bottom" ngbTooltip="کاربران من">
            <span class="main-menu__icon fas fa-desktop xxlg_font"></span>
          </a>
        </li>

        <app-notifications></app-notifications>
        <!-- <li class="nav-item main-menu__item position-relative" id="notif-button" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="nav-link main-menu__link " data-toggle="tooltip" data-placement="bottom" title="اعلانات">
            <img class="main-menu__icon" src="../../../assets/images/svg-icons/globe.svg" alt="logout icon">
            <span class="main-menu__badge rounded-circle" style="background-color: #14b9d6">
            {{unreadNotif}}
            </span>
          </a>

          <div class="notification dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div *ngIf="!userNotifs">
              <div class="notification__header">
                هیچ خبر تازه‌ای نیست
              </div>
  
              <div class="notification__list">
                <img src="../../../assets/images/svg-icons/globe.svg" alt="earth icon">
              </div>
            </div>
            <div *ngIf="userNotifs" style="max-height: 175px; overflow-y: scroll; overflow-x: hidden;margin-bottom: 60px;">
              <div *ngFor="let notif of userNotifs.data" style="border-bottom: 1px solid #ddd;">
                <div class="row px-3 py-1">
                  <div class="col-2">
                    <img width="40px" src="{{base_url}}/users/{{notif.source_id}}/avatar" >
                  </div>
                  <div class="col-10 text-right">
                    <div class="row">
                      <div class="col-12 text-info">
                        امیررضا
                      </div>
    
                    </div>
                    <div class="row">
                      <div class="col-12 xmini_font text-secondary">
                        بابت نظر خوبت امتیاز ززیادی گرفتی و میتونی بازم بگیری
                      </div>
                    </div>
                  </div>
                </div>
        
              </div>
              <div class="notification__header" style="position: fixed; bottom: 0; right: 0; left: 0">
                مشاهده همه
              </div>
            </div>
          </div>
        </li> -->


        <li class="nav-item main-menu__item">
          <a routerLink="users/{{userId}}/profile" class="nav-link main-menu__link main-menu__link--avatar" placement="bottom" ngbTooltip="پروفایل">
            <img class="main-menu__avatar rounded-circle" src="../../../assets/images/avatar.png" alt="your avatar">
          </a>
        </li>

        <li (click)="logOut()" class="nav-item main-menu__item" placement="bottom" ngbTooltip="خروج">
          <a class="nav-link main-menu__link main-menu__link--logout">
            <img class="main-menu__icon main-menu__icon--logout" src="../../../assets/images/svg-icons/logout.svg"
              alt="logout icon">
          </a>
        </li>

      </ul>
    </nav>

    <div class="main-menu d-lg-none">
      <a class=" open_btn" (click)="open_sidebar()">
        <img src="../../../assets/images/svg-icons/sidebar.svg"
          style="filter: invert(82%) sepia(70%) saturate(2107%) hue-rotate(157deg) brightness(100%) contrast(86%);"
          alt="sidebar toggle icon">
      </a>
    </div>
    <div class="d-lg-none mobile_sidebar bg-white" [ngClass]="{'open_sidebar': toggle}" style="z-index: 100;">
      <app-mobile-sidebar></app-mobile-sidebar>
      <div class="mobile_menu row justify-content-end align-items-end pr-3">
        <div class="col-12 text-right mobile_menu_item">

          <a href="/home" class="text-decoration-none d-flex align-items-center text-secondary  py-2">
            <span class="d-flex align-items-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </span>
            <span class="pr-2">
              میز کار
            </span>
          </a>
        </div>
        <div class="col-12 text-right mobile_menu_item">
          <a href="#" class="text-decoration-none d-flex align-items-center text-secondary py-2">
            <span class="d-flex align-items-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">notification_important</mat-icon>
            </span>
            <span class="pr-2">
              اعلانات
            </span>
            <!-- <span>
              <mat-icon style="position: absolute;top: 5px;" aria-hidden="false" aria-label="Example home icon">notification_important</mat-icon>
            </span>
            <span style="padding-right: 30px;">
              اعلانات
            </span> -->
          </a>
        </div>
        <div class="col-12 text-right mobile_menu_item">
          <a (click)="logOut()" href="#" class="text-decoration-none text-secondary py-2 d-flex align-items-center">
            <span class="d-flex align-items-center">
              <mat-icon aria-hidden="false" aria-label="Example home icon">exit_to_app</mat-icon>
            </span>
            <span class="pr-2">
              خروج
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="d-lg-none" [ngClass]="{sidebar_bg: toggle}" (click)="close_sidebar()"></div>
  </div>
</header>