.table{
    direction: rtl;
}

.p-datatable-header	{
    text-align: right !important;
}
.p-sortable-column {
 text-align: right !important;
}
.headerTable{
    font-size: 12px !important;
    width: 125px !important;
    text-align: right !important;
}
.headerTable:nth-child(1){
    width: 100px !important;
}
.headerTableRes{
    font-size: 11px !important;

}

.dataTable{
    font-size: 12px !important;
    font-weight: 600;
    text-align: right !important;
}
.serviceIcon{
    width: 30px;
    filter: grayscale(1);
}
.offGrayScale{
    filter: unset;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: #333333 !important;
  }
.dateTableRes{
    font-size: 12px !important;
    font-weight: 600;
    text-align: right !important;
}
.toggle_btn{
    background-color: #afafaf;
}