<section class="comments text-right no-print">
  <h1 class="comments__title">
    نظرات و دیدگاه ها
  </h1>
  <app-send-comment [parentId]="null" [moduleId]="content"></app-send-comment>
  <div class="comments" *ngIf="pendingComments?.length !== 0">
    <div *ngFor="let comment of pendingComments">
      <app-comment-box [comment]="comment"></app-comment-box>
    </div>
  </div>
  <div class="comments" *ngIf="commentsList?.length !== 0">
    <div *ngFor="let comment of commentsList">
      <app-comment-box [comment]="comment"></app-comment-box>
    </div>
  </div>
</section>