<!-- <section class="main-section"> -->
<!-- <div class="container"> -->
<div class="progress " style="height: 3px; direction: ltr;border-radius: 50px 50px 0 0;">
  <div class="progress-bar bg-secondary" role="progressbar" style="width: {{percent}}%;"
    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="question" [ngClass]="{beforeLoad: !questions}">

  <app-loading [content]="questions"></app-loading>

  <form *ngIf="questions" [formGroup]="questionsForm">
    <header class="question__header">
      <img src="../../../assets/images/prof_1.png" class="professor__avatar" alt="professor avatar">

      <h1 class="question__title text-right">
        {{questions.questions[questionId].question.title}}
      </h1>

      <img src="../../../assets/images/svg-icons/info.svg" class="quetion__info-icon" alt="info icon"
        data-toggle="modal" data-target="#modal">

    </header>

    <div class="question__body text-right">

      <div class="col-12">
        <div *ngFor="let choice of choices; let i = index">
          <label class="container1">
            {{questions.questions[questionId].choices[i].title}}
            <input type="radio" [value]="questions.questions[questionId].choices[i].id" formControlName="choice"
              id="radio{{choice.id}}">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>

    <footer class="question__footer text-center">
      <div class="col-3 question__counter">
        {{questionId}}
        از
        {{total}}
      </div>

      <div class="col-6 p-0">
        <button [disabled]="questionsForm.invalid" (click)="nextQuestion()" class="question__next-button" type="submit">
          <span class="icon-iconmonstr-check-mark-circle-thin enroll-check-icon pl-2"></span>
          بعدی
        </button>

        <!-- <div class="question__waiting">
                        
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                        
                        <span style="display: inline-block;align-self: center;margin-right: 8px;">منتظر بمانید</span>
                    </div> -->
      </div>

      <div class="col-3 p-0">
        <a routerLink="/{{moduleName}}" class="question__later-button text-decoration-none">
          بعدا ادامه میدم
        </a>
      </div>
    </footer>
  </form>
  <div id="modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            
            <div class="modal-body row align-items-center">
                <div class="professor-image-container col-md-3 text-center">
                    <img src="../../../assets/images/prof_1.png" class="img-fluid" alt="professor image">
                </div>

                <p class="description col-12 col-md-9 text-justify">
                    توانایی‌های ذهنی هریک از ما زیربنای موفقیت و تعالی در 
                    رفتارهای متفاوت است. قدرت حافظه، توجه و تمرکز ، کنترل بر 
                    هیجانات و ... اموری هستند که هر روزه با آنها سروکار داریم 
                    و خوشبختانه می‌توان با روشهایی این توانایی‌ها را بهبود بخشید. 
                    این آزمون به سنجش وضعیت این توانمندی‌ها در شما اختصاص دارد
                </p>
            </div>

            <div class="modal-footer justify-content-center">
                <button type="button" class="btn modal-button" data-dismiss="modal">باشه</button>
            </div>
        </div>
    </div>
</div>

</div>
<!-- </div> -->
<!-- </section> -->