<div style="position: relative;min-height: 100vh;">
  <app-navbar></app-navbar> 
  <div class="main-section" [ngClass]="{'main-section-landing': fullWidth$ | async}">
    <div class="container routeContainer" [ngClass]="{'mx-0 max-width': fullWidth$ | async}">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div style="position: absolute;bottom: 0;width: 100%;">
    <app-footer></app-footer>
  </div>
</div>
<!-- 
<div class="container routeContainer" [@routeAnimation]="getDepth(myOutlet)">
  <router-outlet #myOutlet="outlet"></router-outlet>
</div> -->
