<section class="recycle-password-form">
    <div>
        <h2 class="recycle-password-form__title text-right">
            بازیابی کلمه عبور
        </h2>
        <hr>
    </div>

    <form *ngIf="!message.succsses" class="text-right" (submit)="reset($event)">

        <div class="form-group position-relative">
            <input type="text" #username id="username" class="form-control
             recycle-form__text-input"
             placeholder="نام کاربری یا ایمیل را وارد کنید"
             data-lpignore="true">

            <label for="username" class="inline-label">نام کاربری</label>

        </div>

            <div *ngIf ="message.error">
                <p class="text-danger">
                   {{message.error}}
                </p>
            </div>
   

        <div>
            <a routerLink = "/auth/login" class="recycle-password-form__lost-pass-btn">
                نام کاربری و کلمه عبورم را دارم
            </a>
        </div>

        <div>
            <button type="submit" class="btn btn-warning">
                بازیابی کلمه عبور
            </button>
        </div>

    </form>

    <div *ngIf ="message.succsses">
        <p class="text-success text-center">
            {{message.succsses}}
        </p>
    </div>

    
</section>
