<section class="services col-12">

    <h3 class="services__title">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        سرویس‌ها
    </h3>

    <app-loading [content]="services"></app-loading>

    <div *ngIf="services" class="row">
        <div *ngFor = "let service of services" class="col-6 col-md-3 text-center">

            <div class="service-card">
                <div class="text-center service-card__title">
                    <a href="#">
                        {{service.title}}
                    </a>
                </div>
    
                <div class="image-wrapper text-center">
                    <a href="#">
                        <img src="{{ base_url + service.icon}}"
                            class="service-card__image rounded-circle" alt="service-icon">
                    </a>
                </div>
    
                <p class="service-card__description">
                    {{service.slogan}} ...
                </p>
    
                <button *ngIf = "service.serviceStatus.length == 0" class="btn service-card__button">
                    انجامش میدم
                </button>
                <button *ngIf = "(service.serviceStatus.length == 1 && +service.serviceStatus[0].status == 1)" class="btn service-card__button">
                    انجامش میدم
                </button>
                <button *ngIf = "(service.serviceStatus.length == 1 && +service.serviceStatus[0].status == 2)" class="btn service-card__button">
                    مشاهده نتایج
                </button>

            </div>            
        </div>


    </div>
</section>