
            <aside class="sidebar" id="sidebar">
                <section>
                    <div class="col-12 d-flex justify-content-center">
                        <img src="../../../assets/images/avatar.png" alt="your avatar" class="about-me__avatar rounded-circle">
                    </div>
                
                    <div class="text-center">
                        <span class="about-me__name">
                            majid
                        </span>
                    </div>
                
                    <div class="text-center">
                        <span class="about-me__score">
                            1500 امتیاز
                        </span>
                    </div>
                </section>

            </aside>