@font-face {
    font-family: iranSans;
    src: url('../src/assets/fonts/iransans/ttf/IRANSansWeb\(FaNum\)_light.ttf') format('truetype');
}

body {
    font-family: iranSans;
    direction: rtl;
}
.overFlow{
    overflow: hidden;
}
*{
    box-sizing: border-box;
}

.main-section {
    padding-top: 82px;
    padding-bottom: 16px;
    background-color: #eeeff0;
    min-height: 450px;
}

:root{
    --xxmini_font: 0.6em;
    --xmini_font: 0.7em;
    --mini_font: 0.8em;
    --normal_font: 0.9em;
    --original_font: 1em;
}

.xxmini_font{
    font-size: var(--xxmini_font);
}
.xmini_font{
    font-size: var(--xmini_font);
}
.mini_font{
    font-size: var(--mini_font);
    font-weight: 600;
}